<footer>
    <div class="centerF">
        <div class="contato">
            <i class="fa fa-phone-square" aria-hidden="true"><span>Contato</span></i>
            <div class="end">
                <dl>
                    <dt>Endereço:</dt>
                    <dd><i class="fa fa-map-marker" aria-hidden="true"><span>R. Conselheiro Ramalho, 726 - Bela Vista, São Paulo - SP, 01325-000</span></i></dd>
                    <!--<dd><i class="fa fa-phone" aria-hidden="true"><span>(14)12345-6789</span></i></dd>-->
                    <dt>Email:</dt>
                    <dd><i class="fa fa-envelope" aria-hidden="true"><span>ecologiaintegral@cnbbsul1.org.br </span></i></dd>
                </dl>
            </div>
        </div>
        <div class="mapa">
            <i class="fa fa-map" aria-hidden="true"><span>Mapa do site</span></i>
            <div class="mapa-c">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/curso">Curso</a></li>
                    <li><a href="/galeria">Galeria</a></li>
                    <li><a href="/fale-conosco">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>