<%- include("partials/header.html") %>
<section class="fale-conosco">
    <div class="fale-main">
        <div class="fale-title"><h1>Fale Conosco</h1></div>
        <div class="fale-image"><a href="https://www.google.com/maps/place/CNBB+-+Regional+Sul+1/@-23.5589478,-46.6512861,15.5z/data=!4m6!3m5!1s0x94ce59a5520a3717:0x5d3ff3569a774c87!8m2!3d-23.5583342!4d-46.6443971!16s%2Fg%2F1ttyxv_5?entry=ttu"><img src="../public/local.png" alt=""></a></div>
        <br>
    </div>
    
</section>
<%- include("partials/footer.html") %>