<%- include("partials/header.html") %>
    <section class="home-page">
        <div class="img-fundo">
            <img src="/public/fundo-projeto.png" alt="">
        </div>
        <div class="infos">
            <div class="title-info">
                <h2>Ecologia Integral Da Regional Sul 1 da CNBB</h2>
                <div class="content-info">
                    <p>A Pastoral da Ecologia Integral procura promover nas sub-regiões e dioceses a
                        criação e ou consolidação de iniciativas de testemunho e engajamento do cuidado
                        com a Casa Comum. Apoia grupos que já tenham se articulado ou que possam ser criados,
                        de forma que proponham ações de transformação socioambiental ou de promoção da espiritualidade
                        ecológica.
                    </p>
                </div>
            </div>
            <div class="img-info">
                <img src="/public/logo.png" alt="">
            </div>
        </div>
        <br>
        <div class="about">
            <h2>Sobre o Projeto</h2>
            <p> O Projeto “Água: Fonte de Vida” promove estratégias para que em cada diocese do 
                Regional Sul 1 ocorra a conversão ecológica, por meio da criação de uma “Pastoral
                da Ecologia”, ou fortalecimento das já existentes, ou a criação de uma pastoral de
                conjunto. Esta pastoral deverá atender aos princípios e aos objetivos da 
                encíclica Laudato Si’, utilizando-se do tema “água” como ponto de partida para a 
                compreensão sistêmica dos diversos desafios socioambientais locais, possibilitando o
                engajamento para o cuidado de nossa casa comum.
            </p>
        </div>
        <br>
        <div class="about1">
            <div class="title-card">
                <h2>Projeto promove</h2>
            </div>
            <div class="project-move">
                <div class="proj">
                    <div class="number-move">
                        1
                    </div>
                    <p>
                        Promover formação educacional e pastoral tendo como princípios os objetivos da 
                        encíclica Laudato Si, utilizando-se da realidade socioambiental das bacias hidrográficas 
                        que compõem as UGRHIs e as Sub-regiões do Regional Sul 1 da CNBB.
                    </p>
                </div>
                <div class="proj">
                    <div class="number-move">
                        2
                    </div>
                    <p>
                        Propiciar a criação de Pastorais da Ecologia, identificando grupos já existentes ou lideranças 
                        potenciais para propor a dimensão do cuidado da casa comum nas dioceses, seja por meio de uma 
                        pastoral específica em ecologia ou por meio de uma articulação entre as diversas pastorais diocesanas.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="about1">
            <div class="project-move">
                <div class="proj">
                    <div class="number-move">
                        3
                    </div>
                    <p>
                        Fomentar a colaboração das universidades e as instituições de ensino superior em um projeto de extensão
                        interinstitucional para o estado de São Paulo, valorizando metodologias participativas e dialógicas, 
                        envolvendo a comunidade acadêmica, para tratar da questão da água adotando uma perspectiva transdisciplinar 
                        na criação de processos e materiais formativos, que valorizem as diversas realidades ambientais, sociais e 
                        culturais das diferentes bacias hidrográficas paulistas; 
                    </p>
                </div>
                <div class="proj">
                    <div class="number-move">
                        4
                    </div>
                    <p>
                        Possibilitar às comunidades o conhecimento da “Encíclica Laudato Si’”, do documento “Aqua fons vitae”, do 
                        “Tratado de Educação Ambiental para as Sociedades Sustentáveis e Responsabilidade Global” e dos “Planos de 
                        Bacias Hidrográficas do estado de São Paulo”, para o desenvolvimento do sentimento de pertencimento e o 
                        empoderamento comunitário; 
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="about1">
            <div class="project-move">
                <div class="proj">
                    <div class="number-move">
                        5
                    </div>
                    <p>
                        Desenvolver ações para propiciar a governança com a participação consciente das Pastorais da Ecologia nos 
                        comitês de bacia hidrográfica e de fóruns de participação social para a defesa do meio ambiente, estimulando e 
                        cobrando do poder público o desenvolvimento de trabalhos concretos, como de recuperação e preservação de nascentes.

                    </p>
                </div>
                <div class="proj">
                    <div class="number-move">
                        6
                    </div>
                    <p>
                        Estimular a implantação de sistemas de uso eficiente da água em edificações (sejam paróquias, universidades, ou outros),
                         sugerindo a aplicação de ferramentas tecnológicas e de gestão, inclusive através de exemplos já existentes. 
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="about2">
            <div class="video-infos">
                <h2><b>Vídeo Institucional</b></h2>
            <p> 
                Neste vídeo, podemos compreender melhor a missão da Pastoral da Ecologia Integral da Regional Sul 1 da CNBB.
            </p>
            </div>
            <div class="video">
                <video src="/public/PROJETO ÁGUA FONTE DE VIDA - DIOCESE.mp4" controls></video>
            </div>
        </div>
        <br>
    </section>
    </body>

    </html>

<%- include("partials/footer.html") %>



